body {
    background-color: #f4f4f4;
    font-family: "Cutive Mono", "Roboto Mono", monospace;
    background-image: conic-gradient(#f5f4f4 0deg, #807c85 45deg ,white 110deg, white 210deg,white 220deg, black 220deg, #565f3d 240deg, #fb8e02 245deg, #f5f4f4 255deg);
}

h1 {
    text-align: center;
    font-size: 7em;
    color: #666666;
/*
    background: linear-gradient(#27f468, black );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    */
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: black;
}

h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 3px solid #ffffff;
}

h4 {
    font-weight: bold;
    margin-top: 1em;
}

a {
    color: #fb8e02;
    font-weight: bold;
}

a:hover {
    color: #2c3f33;
}

#content {
    background-color: rgba(244, 244, 244, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
}

.thin-border {
    border: 1px solid #666666;
}

ul.dates {
    list-style: none;
    padding-left: 0px;
}

/* Temporary until Bootstrap 5 brings these rules back... */

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  .embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  .embed-responsive-16by9::before {
    padding-top: 56.25%;
  }
  
  .embed-responsive::before {
    display: block;
    content: "";
  }